<main role="main">

      <section class="jumbotron text-center">
        <div class="container heading">

            <%= image_tag("ev_datahub_logo.png", height: 100, class: "jumbotron-heading") %>
          <p class="lead text-muted">Research and data to understand EV trends in the context of the broader automotive market.</p>
          <p class="lead text-muted"> I also write about EV and the automotive industry on twitter.</p>
          <p>
            <a href="https://twitter.com/yilunzh" class="btn btn-primary my-2">Follow me on twitter</a>
<!--             <button class="btn btn-secondary my-2"
              > Subscribe to newsletter</button> -->
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <%= link_to image_tag("market_share_mm_treemap.png", height: 225, class: "card-img-top"), 
                      market_share_by_makemodel_path  %>
                <div class="card-body">
                  <p class="card-text">Data explorer for automotive market share in China by make and model</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', market_share_by_makemodel_path, class: "btn btn-sm btn-outline-secondary"%>
                    </div>
                    <small class="text-muted">Source: CPCA</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <%= link_to image_tag("market_share_mm_table.png", height: 225, class: "card-img-top"),
                    market_share_by_makemodel_overtime_path %> 
                <div class="card-body">
                  <p class="card-text">Data explorer for changes in automotive market share in China over time by make and model</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', market_share_by_makemodel_overtime_path, class: "btn btn-sm btn-outline-secondary"%>
                    </div>
                    <small class="text-muted">Source: CPCA</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <%= link_to image_tag("market_share_fueltype.png", height: 225, class: "card-img-top"),
                    market_share_by_fueltype_overtime_path %> 
                <div class="card-body">
                  <p class="card-text">Market share data for various different fuel type vehicles (i.e. ICE vs PHEV vs Battery eletric)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', market_share_by_makemodel_overtime_path, 
                          class: "btn btn-sm btn-outline-secondary"%>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <%= link_to image_tag("market_share_price.png", height: 225, class: "card-img-top"),
                    market_share_by_price_overtime_path %> 
                <div class="card-body">
                  <p class="card-text">Market share data for vehicles in various price segments(i.e. economy vs premium vs luxury)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', market_share_by_price_overtime_path, 
                          class: "btn btn-sm btn-outline-secondary"%>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
            
          </div>
        </div>
      </div>

  

    </main>