<!DOCTYPE html>
<html>
  <head>
    <title>China EV Hub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

      
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
<!--     <i class="nav nav-logo bi bi-clipboard-data-fill"></i> -->
    <%= link_to image_tag("nav_logo.png", height: 35, class: "jumbotron-heading nav-logo"), root_path, class: "nav navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="nav nav-hamburger bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <%= link_to 'Data', root_path, class: "nav nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'About', about_path, class: "nav nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav nav-link" href="https://us6.list-manage.com/contact-form?u=412fd75d8d6a30308dbf0752d&form_id=f772b7de0044f0c68e4710e77278eaf3">Contact</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<!--     <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-3">
      <%= link_to 'EV Datahub', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Data', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://us6.list-manage.com/contact-form?u=412fd75d8d6a30308dbf0752d&form_id=f772b7de0044f0c68e4710e77278eaf3">Contact</a>
          </li>
        </ul>
      </div>
    </nav> -->
    <%= yield %>
  </body>
</html>
