<!DOCTYPE html>
<html>
  <head>
    <title>EV Datahub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <script id="mcjs">!function showMailingPopup(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/412fd75d8d6a30308dbf0752d/a22ca68636f0404d782c287bc.js");</script>

      
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 px-3">
      <%= link_to 'EV Datahub', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Data', root_path, class: "nav-link" %>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
          </li> -->
<!--           <li class="nav-item">
            <a class="nav-link" href="https://us6.list-manage.com/contact-form?u=412fd75d8d6a30308dbf0752d&form_id=f772b7de0044f0c68e4710e77278eaf3">Contact</a>
          </li> -->
    <!--       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
